<!-- <!doctype html>
<html>
<head>
    <title>Register Applicant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Yangi abituriyentni ro‘yxatga olish</h1>
    <form method="POST">
        <input name="name" placeholder="Ism" required>
        <input name="phone" placeholder="Telefon" required>
        <input name="course" placeholder="Kurs nomi" required>
        <textarea name="note" placeholder="Izoh (ixtiyoriy)"></textarea>
        <button type="submit">Jo‘natish</button>
    </form>
    <a href="/">← Orqaga</a>
</body>
</html>
 -->
 <!doctype html>
<html>
<head>
    <title>Yangi abituriyentni ro‘yxatga olish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Yangi abituriyentni ro‘yxatga olish</h1>
    <form method="POST">
        <input name="name" placeholder="Ism" required><br><br>
        <input name="phone1" placeholder="Telefon 1" required><br><br>
        <input name="phone2" placeholder="Telefon 2 (ixtiyoriy)"><br><br>
        <input name="course" placeholder="Kurs nomi" required><br><br>
        <textarea name="note" placeholder="Izoh (ixtiyoriy)"></textarea><br><br>
        <button type="submit">Jo‘natish</button>
    </form>
    <br>
    <a href="/">← Orqaga</a>
</body>
</html>
